<main>
<h1>Friend</h1>
<div class="maindiv">
  <div><h2>My Friends List</h2></div>
  <div>
    <table>
      <tr>
        <th>First-name</th>
        <th>Last-name</th>
        <th>Nick-name</th>
        <th>GitHub Pages</th>
      </tr>
      <tr>
        <td>Cheer</td>
        <td>Tomson</td>
        <td>Cheslea</td>
        <td><a href="#">Lab2</a><a href="#">Lab3</a><a href="#">Lab4</a></td>
      </tr>
      <tr>
        <td>Jai</td>
        <td>Hanso</td>
        <td>Manu</td>
        <td><a href="#">Lab2</a><a href="#">Lab3</a><a href="#">Lab4</a></td>
      </tr>
    </table>
  </div>
</div>
</main>
