
<main>
<h1>My Profile</h1>
<h2>Basic Information</h2>

<ul>
  <li><b>Name</b>: Bandit Chaluay</li>
  <li><b>Gender</b>: Male</li>
  <li><b>Age</b>: 21</li>
</ul>
<h2>Autobiography</h2>
<p>I was born a  warm, sunny day in February 06 in Sukhothai, Thailand, I still live in Chiang Mai,
  Thailand, and I go to school at SawanananWitaya School. I live with my mom, Nurse; My sister.
</p>
<h2>GitHub Pages</h2>
<a href="https://github.com/camt-mmit/2024-01-954447-001-lab02-dom-NiceZGT730">Lab02</a>
<a href="https://camt-mmit.github.io/2024-01-954447-001-lab03-basic-typescript-NiceZGT730/">Lab03</a>
<a href="https://camt-mmit.github.io/2024-01-954447-001-lab04-basic-angular-NiceZGT730/">Lab04</a>
</main>
